In [1]:
#Series
import pandas as pd

data = [1, 3, 5, 7, 9]
series = pd.Series(data)
print(series)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [2]:
import pandas as pd

data = [1, 3, 5, 7, 9]
labels = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=labels)
print(series)

a    1
b    3
c    5
d    7
e    9
dtype: int64

In [3]:
import pandas as pd

data = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

series = pd.Series(data)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [4]:
import pandas as pd

data1 = [10, 20, 30, 40, 50]
data2 = [5, 10, 15, 20, 25]
index_labels = ['a', 'b', 'c', 'd', 'e']

series1 = pd.Series(data1, index=index_labels)
series2 = pd.Series(data2, index=index_labels)

series_sum = series1 + series2
print(series_sum)

a    15
b    30
c    45
d    60
e    75
dtype: int64

In [5]:
import pandas as pd

data = [10, 20, 30, 40, 50]
index_labels = ['a', 'b', 'c', 'd', 'e']

series = pd.Series(data, index=index_labels)

first_element = series.iloc[0]
last_element = series.iloc[-1]

print("First Element:", first_element)
print("Last Element:", last_element)

First Element: 10
Last Element: 50

In [6]:
#accessing every other alternate element of series
import pandas as pd

data = [10, 20, 30, 40, 50, 60, 70, 80, 90]
index_labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

series = pd.Series(data, index=index_labels)

new_series = series[::2]
print(new_series)

a    10
c    30
e    50
g    70
i    90
dtype: int64

In [9]:
#Use boolean indexing to select specific elements from a Pandas Series.
import pandas as pd

data = [10, 20, 30, 40, 50]
index_labels = ['a', 'b', 'c', 'd', 'e']

series = pd.Series(data, index=index_labels)

boolean_index = series > 30
selected_elements = series[boolean_index]
print(selected_elements)

d    40
e    50
dtype: int64

In [10]:
#DATA FRAMES
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'gender': ['F', 'M', 'M', 'M']}

df = pd.DataFrame(data, index=['p1', 'p2', 'p3', 'p4'], columns=['name', 'age', 'gender'])
print(df)

       name  age gender
p1    Alice   25      F
p2      Bob   32      M
p3  Charlie   18      M
p4    David   47      M

In [11]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'gender': ['F', 'M', 'M', 'M']}

df = pd.DataFrame(data)

# Select the 'age' column
age_col = df['age']
print(age_col)

0    25
1    32
2    18
3    47
Name: age, dtype: int64

In [12]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'gender': ['F', 'M', 'M', 'M']}

df = pd.DataFrame(data)

# Select the row(s) where age is greater than 30
selected_rows = df[df['age'] > 30]
print(selected_rows)

    name  age gender
1    Bob   32      M
3  David   47      M

In [13]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'gender': ['F', 'M', 'M', 'M']}

df = pd.DataFrame(data)

# Add a new column 'age_group' based on the 'age' column
df['age_group'] = pd.cut(df['age'], [0, 18, 30, 50], labels=['Under 18', '18-30', 'Over 30'])
print(df)

      name  age gender age_group
0    Alice   25      F     18-30
1      Bob   32      M   Over 30
2  Charlie   18      M  Under 18
3    David   47      M   Over 30