In [1]:
import pandas as pd

df = pd.read_csv('task14.csv')
print(df.head())

  First Name Last Name
0        Ali       NaN
1      Ahmed    Waleed
2       Sara     Imran
3      Bilal      Khan
4     Maryam     Ahmed

In [10]:
import pandas as pd

df = pd.read_excel('task14.xlsx')
print(df.head())

  First Name Last Name
0        Ali       NaN
1      Ahmed    Waleed
2       Sara     Imran
3      Bilal      Khan
4     Maryam     Ahmed

In [8]:
import pandas as pd

# Try reading the JSON file with a different orientation
df = pd.read_json('sample-json.json')

print(df)

   Name    Mobile  Boolean Pets
0  Test  12345678     True  Dog
1  Test  12345678     True  cat

In [11]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 219.6 kB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------ 904.2/904.2 kB 273.7 kB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="seecs@2021"
)

# Create a cursor object
mycursor = mydb.cursor()

# Create the database if it doesn't exist
mycursor.execute("CREATE DATABASE IF NOT EXISTS mydatabase")

# Use the database
mycursor.execute("USE mydatabase")

# Create the users table
mycursor.execute("CREATE TABLE IF NOT EXISTS users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255), age INT)")

# Insert some sample data
sql = "INSERT INTO users (name, email, age) VALUES (%s, %s, %s)"
val = [
  ('John', 'john@example.com', 25),
  ('Jane', 'jane@example.com', 30),
  ('Bob', 'bob@example.com', 20),
  ('Alice', 'alice@example.com', 28)
]
mycursor.executemany(sql, val)

# Commit the changes
mydb.commit()

# Print the number of rows inserted
print(mycursor.rowcount, "rows were inserted.")

4 rows were inserted.

In [3]:
import pandas as pd
import mysql.connector

# create MySQL connection
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="seecs@2021",
  database="mydatabase"
)

# query data from table and load into DataFrame
df = pd.read_sql("SELECT * FROM users", mydb)
print(df.head())

   id   name              email  age
0   1   John   john@example.com   25
1   2   Jane   jane@example.com   30
2   3    Bob    bob@example.com   20
3   4  Alice  alice@example.com   28

C:\Users\HP\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(