In [1]:
#Handling missing values

#Write a Python code to replace missing values in the Series with the mean value of the Series.
import pandas as pd
import numpy as np

# Create a Series
s = pd.Series([5, 10, 15, np.nan, 25, 30, np.nan, 40, 45, 50])

# Fill missing values with mean
s.fillna(s.mean(), inplace=True)
print(s)

0     5.0
1    10.0
2    15.0
3    27.5
4    25.0
5    30.0
6    27.5
7    40.0
8    45.0
9    50.0
dtype: float64

In [2]:
#Write a Python code to replace missing values in the "Age" column with the median value of the column.
import pandas as pd
import numpy as np

# Create a DataFrame
data = {
    'Name': ['John', 'Jane', 'Mark', 'Mary', 'Alex'],
    'Age': [25, np.nan, 30, 35, np.nan],
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'City': [np.nan, 'NYC', 'LA', np.nan, 'SF']
}
df = pd.DataFrame(data)

# Fill missing values with median
df['Age'].fillna(df['Age'].median(), inplace=True)
print(df)

   Name   Age Gender City
0  John  25.0      M  NaN
1  Jane  30.0      F  NYC
2  Mark  30.0      M   LA
3  Mary  35.0      F  NaN
4  Alex  30.0      M   SF

In [3]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Jane', 'Mark', 'Mary', 'Alex'],
    'Age': [25, None, 30, 35, None],
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'City': [None, 'NYC', 'LA', None, 'SF']
}
df = pd.DataFrame(data)

# Fill missing values with "Unknown"
df['City'].fillna(value='Unknown', inplace=True)
print(df)

   Name   Age Gender     City
0  John  25.0      M  Unknown
1  Jane   NaN      F      NYC
2  Mark  30.0      M       LA
3  Mary  35.0      F  Unknown
4  Alex   NaN      M       SF

In [4]:
#dropping all rows with missing values
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Jane', 'Mark', 'Mary', 'Alex'],
    'Age': [25, None, 30, 35, None],
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'City': [None, 'NYC', 'LA', None, 'SF']
}
df = pd.DataFrame(data)

# Drop rows with missing values
df.dropna(inplace=True)
print(df)

   Name   Age Gender City
2  Mark  30.0      M   LA

In [6]:
#REMOVING DUPLICATES

import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Jane', 'Mark', 'John', 'Alex'],
    'Age': [25, 30, 35, 25, 30],
    'Gender': ['M', 'F', 'M', 'M', 'M'],
    'City': ['NYC', 'LA', 'SF', 'NYC', 'LA']
}
df = pd.DataFrame(data)

# Drop duplicate rows
df.drop_duplicates(inplace=True)
print(df)

   Name  Age Gender City
0  John   25      M  NYC
1  Jane   30      F   LA
2  Mark   35      M   SF
4  Alex   30      M   LA

In [7]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Jane', 'Mark', 'John', 'Alex'],
    'Age': [25, 30, 35, 25, 30],
    'Gender': ['M', 'F', 'M', 'M', 'M'],
    'City': ['NYC', 'LA', 'SF', 'NYC', 'LA']
}
df = pd.DataFrame(data)

# Drop duplicate rows based on "Name" column
df.drop_duplicates(subset='Name', inplace=True)

print(df)

   Name  Age Gender City
0  John   25      M  NYC
1  Jane   30      F   LA
2  Mark   35      M   SF
4  Alex   30      M   LA

In [8]:
#Replacing Values

import pandas as pd

# Create a DataFrame
data = {
    'Name': ['John', 'Jane', 'Mark', 'Mary', 'Alex'],
    'Age': [25, 30, 35, 40, 45],
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'City': ['NYC', 'LA', 'SF', 'NYC', 'LA']
}
df = pd.DataFrame(data)

# Replace "NYC" with "New York City" in the "City" column
df['City'].replace('NYC', 'New York City', inplace=True)
print(df)

   Name  Age Gender           City
0  John   25      M  New York City
1  Jane   30      F             LA
2  Mark   35      M             SF
3  Mary   40      F  New York City
4  Alex   45      M             LA

In [9]:
#Detecting and Filtering Outliers

import pandas as pd
import numpy as np

# Create a DataFrame
data = {
    'Name': ['John', 'Jane', 'Mark', 'Mary', 'Alex', 'Bob', 'Tom', 'Kim', 'Sam', 'Ann'],
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'Height (in)': [70, 65, 68, 75, 62, 80, 58, 72, 85, 55]
}
df = pd.DataFrame(data)

# Detect and filter outliers using z-score
df['z_score'] = np.abs((df['Height (in)'] - df['Height (in)'].mean()) / df['Height (in)'].std())
df = df[df['z_score'] < 3].drop('z_score', axis=1)
print(df)

   Name  Age  Height (in)
0  John   25           70
1  Jane   30           65
2  Mark   35           68
3  Mary   40           75
4  Alex   45           62
5   Bob   50           80
6   Tom   55           58
7   Kim   60           72
8   Sam   65           85
9   Ann   70           55